name: Repro
on:
  push:

jobs:
  repro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.18.1

      - uses: actions/setup-node@v3
        with:
          node-version: 19

      - run: pnpm install
      - run: pnpm hardhat compile
